body {
  background-color: #e9d9de;
  font-size: small;
  font-family: 'muli', sans-serif;
  line-height: 1.6em;
}
#header {
  background-color: #e9cfd8;
  margin: 10px;
  padding: 15px 40px 15px 40px;
}
#header-btns {
  word-spacing: 5rem;
  text-align: right;
}
#header-btns a:link {
  color:black;
  text-decoration: none;
}
#header-btns a:visited{
  color:#c79e42;
}
#header-btns a:hover {
  color:black;
}
#header h1 {
  color: #c79e42;
  font-size: 250%;
  line-height: 0em;
  float: left;
}
#main {
  background-color:#f3edef;
  margin: 10px;
  padding: 30px;
}
iframe {
  border: none;
  height: 300px;
  weight: 400px;
}
h1 {
  font-size: 150%;
}
h2 {
  font-size: 130%
}
li {
  list-style-type: square; /*other options including disc(default), circle*/
  /*you may also use list-style-image** to setup ur own custom marker*/
  padding-top: 5px;
  margin-left: 20px;
}





